/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* line height not suitable for headings */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* PROJECT CSS */
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#header button {
  min-width: fit-content;
}

#scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

#scoreboard input {
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-weight: 900;
  text-align: center;
}

#header button {
  border: none;
  background: none;
  text-align: center;
  font-weight: 900;
}

.score-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.score-section>p {
  font-weight: 900;
  font-size: 4rem;
}

#alert-container {
  display: flex;
  justify-content: center;
}

#alert-container {
  font-size: 3rem;
  font-weight: 800;
}

#container {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 10vh auto;
}

#ttt-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  justify-content: center;
  align-content: center;
  gap: 10px;

  background-color: black;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: white;

}

.X,
.O {
  font-weight: 900;
  font-size: 4rem;
}

.X {
  color: dodgerblue;
}

.O {
  color: red;
}